In [50]:
# Install the required libraries
!pip install prophet

Requirement already satisfied: prophet in c:\users\ifons\anaconda3\lib\site-packages (1.1.5)
Requirement already satisfied: cmdstanpy>=1.0.4 in c:\users\ifons\anaconda3\lib\site-packages (from prophet) (1.2.4)
Requirement already satisfied: numpy>=1.15.4 in c:\users\ifons\anaconda3\lib\site-packages (from prophet) (1.26.4)
Requirement already satisfied: matplotlib>=2.0.0 in c:\users\ifons\anaconda3\lib\site-packages (from prophet) (3.8.0)
Requirement already satisfied: pandas>=1.0.4 in c:\users\ifons\anaconda3\lib\site-packages (from prophet) (2.1.4)
Requirement already satisfied: holidays>=0.25 in c:\users\ifons\anaconda3\lib\site-packages (from prophet) (0.55)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\ifons\anaconda3\lib\site-packages (from prophet) (4.65.0)
Requirement already satisfied: importlib-resources in c:\users\ifons\anaconda3\lib\site-packages (from prophet) (6.4.3)
Requirement already satisfied: stanio<2.0.0,>=0.4.0 in c:\users\ifons\anaconda3\lib\site-packages (from cmdstanpy>=1.0.4->prophet) (0.5.1)
Requirement already satisfied: python-dateutil in c:\users\ifons\anaconda3\lib\site-packages (from holidays>=0.25->prophet) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ifons\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\ifons\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ifons\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ifons\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\ifons\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ifons\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ifons\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\ifons\anaconda3\lib\site-packages (from pandas>=1.0.4->prophet) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ifons\anaconda3\lib\site-packages (from pandas>=1.0.4->prophet) (2023.3)
Requirement already satisfied: colorama in c:\users\ifons\anaconda3\lib\site-packages (from tqdm>=4.36.1->prophet) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\ifons\anaconda3\lib\site-packages (from python-dateutil->holidays>=0.25->prophet) (1.16.0)

In [105]:
# Import the required libraries and dependencies
import pandas as pd
from prophet import Prophet
import datetime as dt
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [239]:
mortality_df = pd.read_csv('resources\cleaned.csv')

mortality_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1451146 entries, 0 to 1451145
Data columns (total 11 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Year           1451146 non-null  int64
 1   State          1451146 non-null  object
 2   County         1451146 non-null  object
 3   CauseOfDeath   1451146 non-null  object
 4   MortalityRate  1451146 non-null  float64
 5   ConfLow        1451146 non-null  float64
 6   ConfHigh       1451146 non-null  float64
 7   AgeGroup       1451146 non-null  object
 8   Race           1451146 non-null  object
 9   Sex            1451146 non-null  object
 10  LocationID     1451146 non-null  int64
dtypes: float64(3), int64(2), object(6)
memory usage: 121.8+ MB

In [243]:
# Strip any leading/trailing spaces from column names
mortality_df.columns = mortality_df.columns.str.strip()

In [245]:
# Convert the 'Year' column to datetime, setting the month and day to January 1st

mortality_df['Year'] = pd.to_datetime(mortality_df['Year'], format='%Y')
print(mortality_df.dtypes)

Year             datetime64[ns]
State                    object
County                   object
CauseOfDeath             object
MortalityRate           float64
ConfLow                 float64
ConfHigh                float64
AgeGroup                 object
Race                     object
Sex                      object
LocationID                int64
dtype: object

In [247]:
# Set 'Year' as the index and sort the DataFrame by the index in ascending order

mortality_df.set_index('Year', inplace=True)

mortality_df.sort_index(ascending=True, inplace=True)

In [249]:
#Display the first and last five of the data columns

display(mortality_df.head())
display(mortality_df.tail())

,State,County,CauseOfDeath,MortalityRate,ConfLow,ConfHigh,AgeGroup,Race,Sex,LocationID
Year,,,,,,,,,,
2010-01-01,IL,Fayette,Heart failure,428.1,368.7,494.0,Ages 65 years and older,Overall,Overall,17051
2010-01-01,NE,Cass,All heart disease,117.2,93.6,139.4,Ages 35-64 years,Overall,Men,31025
2010-01-01,TX,Travis,Coronary heart disease (CHD),32.9,28.1,40.0,Ages 35-64 years,Hispanic,Overall,48453
2010-01-01,IL,Kane,All stroke,264.4,232.2,291.5,Ages 65 years and older,Overall,Women,17089
2010-01-01,OH,Hamilton,Cardiovascular disease (CVD),181.5,167.8,197.6,Ages 35-64 years,Overall,Men,39061

,State,County,CauseOfDeath,MortalityRate,ConfLow,ConfHigh,AgeGroup,Race,Sex,LocationID
Year,,,,,,,,,,
2019-01-01,OK,Washita,Heart failure,26.4,16.7,42.0,Ages 35-64 years,White,Overall,40149
2019-01-01,TX,Upshur,All heart disease,238.4,204.1,273.0,Ages 35-64 years,Overall,Men,48459
2019-01-01,IL,Jackson,Coronary heart disease (CHD),412.8,362.2,471.0,Ages 65 years and older,Overall,Overall,17077
2019-01-01,TX,Upshur,Cardiovascular disease (CVD),142.3,120.4,167.9,Ages 35-64 years,Overall,Women,48459
2019-01-01,WY,Weston,Heart failure,478.2,408.0,564.6,Ages 65 years and older,White,Overall,56045